@media screen and (min-width: $tb-s) and (max-width: $tb-l) {
    .advantages {
        overflow: hidden;
        background-color: unset;
        padding-bottom: 0;
        &__inner {
            flex-direction: column;
        }
        &__header {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }
        &__features {
            margin-top: 45px;
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }
        &__represent {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
        }
        &-item__description {
            padding-right: 0;
        }
        &__represent {
            img {
                position: relative;
                right: -15px;
                margin-top: 40px;
                transform: scale(1);
            }
        }
    }
}
@media screen and (min-width: 0) and (max-width: $mb-l) {
    .advantages {
        background-color: unset;
        text-align: center;
        overflow: hidden;
        margin-bottom: 0;
        &__features {
            margin-bottom: 58px;
        }
        &__header {
            font-size: 32px;
            line-height: 38px;
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }
        &__item {
            flex-direction: column;
        }
        &__item + &__item {
            margin-top: 50px;
        }
        &__features {
            margin-top: 45px;
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }
        &__represent {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
        }
        &__img {
            margin-bottom: 25px;
            padding-right: -15px;
        }
        &__image {
            // margin-bottom: 0;
            img {
                margin-left: 25px;
                transform: scale(1.2);
            }
        }
    }
}